In [1]:
from hanziconv import HanziConv
from zhon import hanzi
import string
punctuation=hanzi.punctuation + string.punctuation
punctuation = set([i for i in punctuation])
def remove_punctuation(x):  # 删除标点
    x = "".join([i for i in x if i not in punctuation]) # 遍历评论每个字符，若是标点，去掉，用空字符连接
    return re.sub(r'\s+', ' ', x) # 把 x 通过正则表达式 (\s 代表空格，+ 代表多个)，替换成 空字符

In [2]:
import pymysql
import pandas as pd
# merge 表s_game_detail 中的 download
conn = pymysql.connect(host='127.0.0.1',port=3306,user='root',password='eXYhzAWjyvy8grwM',db='game_source',charset='utf8mb4')
sql = "SELECT source, game_name, game_logo_url, score,comments, tags, updated_at, download FROM s_game_detail"
df_game_download = pd.read_sql(sql, conn)  # 返回的是 dataFrame 数据结构
conn.close()
df_game_download.head()

,source,game_name,game_logo_url,score,comments,tags,updated_at,download
0,app_store,上海麻将,https://is1-ssl.mzstatic.com/image/thumb/Purpl...,3.4,0,"娱乐,益智解谜,桌面游戏",1527609600,
1,app_store,缤纷糖果消消乐2016 - 连线消除三消休闲手游,https://is3-ssl.mzstatic.com/image/thumb/Purpl...,0.0,0,"桌面游戏,益智解谜",1527609600,
2,app_store,鬼捕手,https://is5-ssl.mzstatic.com/image/thumb/Purpl...,0.0,0,"娱乐,街机游戏,动作游戏",1527609600,
3,app_store,我说免费,https://is3-ssl.mzstatic.com/image/thumb/Purpl...,3.7,0,"娱乐,桌面游戏,聚会游戏",1527609600,
4,app_store,试试我的鼻子,https://is4-ssl.mzstatic.com/image/thumb/Purpl...,0.0,0,"娱乐,聚会游戏",1527609600,

In [3]:
# 去掉 空字符
df_game_download = df_game_download[~(df_game_download['download'] == "")]
df0 = df_game_download
# game_name 空值

In [4]:
# download 数字化
import re
def get_download(x):
    if x == "":
        return '0'
    elif '万'in x:
        return re.findall(r'\d+', x)[0]+ '0000'
    elif '亿'in x:
        return re.findall(r'\d+', x)[0]+ '00000000'  # 这样计算是有误差的,比如 6.9亿
    else:
        return re.findall(r'\d+', x)[0]

In [5]:
# get_download('6.7亿')

In [6]:
df_game_download['download_num'] = df_game_download['download'].apply(get_download)
df_game_download['download_num'] = df_game_download['download_num'].astype('int32')
df_game_download.head()

,source,game_name,game_logo_url,score,comments,tags,updated_at,download,download_num
52970,qq_mobile,三国Q版猛将战役【永久免费】,http://pp.myapp.com/ma_icon/0/icon_16_1146804_...,3.00000,2,"三国,红警",1527609600,70549,70549
52971,qq_mobile,机器人大战:毁灭枪手去广告汉化版 Destroy Gunner,http://pp.myapp.com/ma_icon/0/icon_21_18132613...,4.35593,63,"汉化,第三人称,射击,变形金刚",1527609600,361523,361523
52972,qq_mobile,Cosmonauts,http://pp.myapp.com/ma_icon/0/icon_289_1733374...,4.00000,1,"红警,射击,角色,小游戏,飞行,即时,动漫,汉化",1527609600,1886,1886
52973,qq_mobile,3D桌球,http://pp.myapp.com/ma_icon/0/icon_461_1446783...,4.54821,369,"球类,棋类,体育,台球/桌球",1527609600,147760,147760
52974,qq_mobile,CrazyKartOON 疯狂卡丁车,http://pp.myapp.com/ma_icon/0/icon_494_1729670...,0.00000,0,"卡丁车,音乐节奏,节奏,赛车,卡通,跳跃",1527609600,2166,2166

In [7]:
df_game_download['game_format_name'] = df_game_download['game_name'].apply(remove_punctuation)
# 找出每个游戏 最新更新 的download
df_download_num = df_game_download.groupby(['game_format_name','source'])['download_num'].max().reset_index()  # reset_index() 不能缺
df_download_num[df_download_num['game_format_name'] == '王者荣耀'].head()

      game_format_name              source  download_num
68998             王者荣耀              taptap       3937555
68999             王者荣耀           vivo_game     600000000
69000             王者荣耀  xiaomi_game_center      73390000

In [8]:
# 计算 游戏A 全渠道 最新 下载数量之和
df_download_num = df_download_num.groupby(['game_format_name'])['download_num'].sum().reset_index()
df_download_num.columns = ['game_format_name', 'download_sum_num']
df_download_num[df_download_num['game_format_name'] == '王者荣耀'].head()

      game_format_name  download_sum_num
62533             王者荣耀         677327555

In [9]:
df_detail = df0.merge(df_download_num, how='left', on='game_format_name').reset_index()
df_detail.head(1)

,index,source,game_name,game_logo_url,score,comments,tags,updated_at,download,download_num,game_format_name,download_sum_num
0,0,qq_mobile,三国Q版猛将战役【永久免费】,http://pp.myapp.com/ma_icon/0/icon_16_1146804_...,3.0,2,"三国,红警",1527609600,70549,70549,三国Q版猛将战役永久免费,70549

In [10]:
# s_game_comment_number 获取指标 评论数、个星级评论评论人数， 一周评论数的趋势
conn = pymysql.connect(host='127.0.0.1',port=3306,user='root',password='eXYhzAWjyvy8grwM',db='game_source',charset='utf8mb4')
sql = "SELECT * FROM s_game_comment_number"
df_game_comment = pd.read_sql(sql, conn)  # 返回的是 dataFrame 数据结构
conn.close()
df_game_comment.head()

,source,score,total,game_name,updated_at,created_at,game_id,5_star,4_star,3_star,2_star,1_star
0,app_store,0,0,Galaxy Drop,2018-07-03,1530600829,1000009188,0,0,0,0,0
1,app_store,0,0,Galaxy Drop,2018-07-05,1530780915,1000009188,0,0,0,0,0
2,app_store,3.5,15,World of Dinos,2018-07-06,1530863447,1000013295,7,2,1,1,4
3,app_store,3.4,16,World of Dinos,2018-07-13,1531478300,1000013295,7,2,1,2,4
4,app_store,0,0,Blinkoo,2018-07-06,1530888328,1000023825,0,0,0,0,0

In [11]:
# total非空
df_game_comment =df_game_comment[~(df_game_comment['total'].isin(['']))]
df_game_comment.head()

,source,score,total,game_name,updated_at,created_at,game_id,5_star,4_star,3_star,2_star,1_star
0,app_store,0,0,Galaxy Drop,2018-07-03,1530600829,1000009188,0,0,0,0,0
1,app_store,0,0,Galaxy Drop,2018-07-05,1530780915,1000009188,0,0,0,0,0
2,app_store,3.5,15,World of Dinos,2018-07-06,1530863447,1000013295,7,2,1,1,4
3,app_store,3.4,16,World of Dinos,2018-07-13,1531478300,1000013295,7,2,1,2,4
4,app_store,0,0,Blinkoo,2018-07-06,1530888328,1000023825,0,0,0,0,0

In [12]:
# object 转成 int
df_game_comment['total'] = df_game_comment['total'].astype('int32')
# df_game_comment['score'] = df_game_comment['score'].astype('float64')
# df_game_comment['5_star'] = df_game_comment['5_star'].astype('float64')
# df_game_comment['4_star'] = df_game_comment['4_star'].astype('float64')
# df_game_comment['3_star'] = df_game_comment['3_star'].astype('float64')
# df_game_comment['2_star'] = df_game_comment['2_star'].astype('float64')
# df_game_comment['1_star'] = df_game_comment['1_star'].astype('float64')
# 选择 评分人数大于 100 的游戏
df_game_comment.head()

,source,score,total,game_name,updated_at,created_at,game_id,5_star,4_star,3_star,2_star,1_star
0,app_store,0,0,Galaxy Drop,2018-07-03,1530600829,1000009188,0,0,0,0,0
1,app_store,0,0,Galaxy Drop,2018-07-05,1530780915,1000009188,0,0,0,0,0
2,app_store,3.5,15,World of Dinos,2018-07-06,1530863447,1000013295,7,2,1,1,4
3,app_store,3.4,16,World of Dinos,2018-07-13,1531478300,1000013295,7,2,1,2,4
4,app_store,0,0,Blinkoo,2018-07-06,1530888328,1000023825,0,0,0,0,0

In [13]:
df_game_comment['game_format_name'] = df_game_comment['game_name'].apply(remove_punctuation)
# game A 各source 评论数量
df_max_total = df_game_comment.groupby(['game_format_name','source'])['total'].max().reset_index()
df_sum_total = df_max_total.groupby(['game_format_name'])['total'].sum().reset_index()
df_sum_total.columns = ['game_format_name','sum_total']
# sum_total >1000
df_sum_total = df_sum_total[df_sum_total['sum_total'] > 1000]
df_sum_total.head()

       game_format_name  sum_total
0                             1147
385     1 Mr Goofy Bird       1085
600      100 Doors 2013       1470
902               100扇门       3174
945  100道门高智商房间密室逃脱解密游戏       1931

In [14]:
# lcs = df_sum_total.sort_values(by=['sum_total'], ascending=False)
# lcs.head(100)

In [15]:
# df_sum_total 的 sum_total 指标 merge  df_detail
df_detail = df_detail.merge(df_sum_total, how='left', on='game_format_name')

In [16]:
# nan = 0
df_detail = df_detail.fillna(0)

In [18]:
# 写入 mysql
def write_to_mysql(df,table_name):
    # 写入数据库
    from sqlalchemy import create_engine
    engine = create_engine("mysql+pymysql://root:eXYhzAWjyvy8grwM@127.0.0.1:3306/game_source?charset=utf8mb4")
    df[['id','source','game_name','game_logo_url','score','tags']].to_sql(table_name, 
        con=engine, if_exists='replace', index=False)

In [19]:
# 添加一个 id 
def get_id(x):
    global index
    index = index + 1
    return index

In [21]:
# 获取指标：游戏发行时间  查看最早评论时间
import pymysql
import pandas as pd
# merge 表s_game_detail 中的 download
conn = pymysql.connect(host='127.0.0.1',port=3306,user='root',password='eXYhzAWjyvy8grwM',db='game_source',charset='utf8mb4')
sql = "SELECT source,game_name, comment_time,updated_at FROM s_game_comments"
df = pd.read_sql(sql, conn)  # 返回的是 dataFrame 数据结构
conn.close()
df.head()

   source       game_name comment_time  updated_at
0  taptap   Fetty Wap传奇赛车   1473340278  1528760610
1  taptap   Fetty Wap传奇赛车   1474612898  1528753269
2  taptap   Fetty Wap传奇赛车   1474632254  1528753282
3  taptap   Fetty Wap传奇赛车   1474635935  1528760660
4  taptap   Fetty Wap传奇赛车   1474676518  1528753272

In [22]:
import time
def get_download_time(x):
    # xx = time.time()
    tl = time.localtime(int(x))
    return time.strftime("%Y-%m-%d %H:%M:%S", tl)

In [23]:
df_mix_comment = df.groupby(['game_name'])['comment_time'].min().reset_index()
df_mix_comment.head()

              game_name comment_time
0         Fetty Wap传奇赛车   1473340278
1   ZONA：切尔诺贝利日记 (BETA)   1478499434
2               愤怒的火柴人5   1470111784
3               极限驾驶模拟器   1468719237
4          梦王国与沉睡的100王子   1479914525

In [24]:
df_mix_comment['comment_format_time'] = df_mix_comment['comment_time'].apply(get_download_time)
df_mix_comment['game_format_name'] = df_mix_comment['game_name'].apply(remove_punctuation)
df_mix_comment.head()

              game_name comment_time  comment_format_time   game_format_name
0         Fetty Wap传奇赛车   1473340278  2016-09-08 21:11:18      Fetty Wap传奇赛车
1   ZONA：切尔诺贝利日记 (BETA)   1478499434  2016-11-07 14:17:14   ZONA切尔诺贝利日记 BETA
2               愤怒的火柴人5   1470111784  2016-08-02 12:23:04            愤怒的火柴人5
3               极限驾驶模拟器   1468719237  2016-07-17 09:33:57            极限驾驶模拟器
4          梦王国与沉睡的100王子   1479914525  2016-11-23 23:22:05       梦王国与沉睡的100王子

In [25]:
df_detail.shape

(98481, 13)

In [27]:
# merge  df_detail 里面含 指标 download_sum_num  sum_total  
df_detail_download_total_time = df_detail.merge(df_mix_comment[['game_format_name','comment_time']], how='left', on='game_format_name')

In [30]:
# time 有none
df_detail_download_total_time.shape

(98602, 14)

In [35]:
# source vivo 没有tag字段
# df_detail_download_total_time[df_detail_download_total_time['game_name'] == '王者荣耀'].head()
# 去掉 vivo_game
df_dropVivo_detail_download_total_time = df_detail_download_total_time[~(df_detail_download_total_time['source'] == 'vivo_game')]
df_dropVivo_detail_download_total_time.head(1)

,index,source,game_name,game_logo_url,score,comments,tags,updated_at,download,download_num,game_format_name,download_sum_num,sum_total,comment_time
0,0,qq_mobile,三国Q版猛将战役【永久免费】,http://pp.myapp.com/ma_icon/0/icon_16_1146804_...,3.0,2,"三国,红警",1527609600,70549,70549,三国Q版猛将战役永久免费,70549,0.0,1430453546

In [39]:
# # 获取下载榜
# df_dropVivo_download = df_dropVivo_detail_download_total_time.drop_duplicates(['game_format_name'])
# df_dropVivo_ranking_by_download = df_dropVivo_download.sort_values(by=['download_sum_num'], ascending=False)
# # 下载榜 写入 s_lcs_game_ranking_by_download
# index = 0
# df_dropVivo_ranking_by_download['id'] = df_dropVivo_ranking_by_download.apply(get_id, axis=1)
# write_to_mysql(df_dropVivo_ranking_by_download, table_name = "s_lcs_game_ranking_by_download")

/home/mingchao/anaconda3/lib/python3.6/site-packages/pymysql/cursors.py:165: Warning: (1287, "'@@tx_isolation' is deprecated and will be removed in a future release. Please use '@@transaction_isolation' instead")
  result = self._query(query)

In [40]:
# # 获取 热门榜
# df_dropVivo_total = df_dropVivo_detail_download_total_time.drop_duplicates(['game_format_name'])
# df_dropVivo_ranking_by_total = df_dropVivo_total.sort_values(by=['sum_total'], ascending=False)
# # 下载榜 写入 s_lcs_game_ranking_by_total
# index = 0
# df_dropVivo_ranking_by_total['id'] = df_dropVivo_ranking_by_total.apply(get_id, axis=1)
# write_to_mysql(df_dropVivo_ranking_by_total, table_name = "s_lcs_game_ranking_by_total")

/home/mingchao/anaconda3/lib/python3.6/site-packages/pymysql/cursors.py:165: Warning: (1287, "'@@tx_isolation' is deprecated and will be removed in a future release. Please use '@@transaction_isolation' instead")
  result = self._query(query)

In [49]:
# 时间差
import datetime
now_time = datetime.datetime.now()
def get_mistiming(x):
    comment_time = datetime.datetime.utcfromtimestamp(int(x))
    return (now_time - comment_time).days

In [90]:
# # 获取 新游榜
# df_dropVivo_time = df_dropVivo_detail_download_total_time.drop_duplicates(['game_format_name'])
# # nan
# df_dropVivo_time = df_dropVivo_time.fillna(0)
# df_dropVivo_time['comment_time'] = df_dropVivo_time['comment_time'].astype('int32')
# df_dropVivo_time = df_dropVivo_time[~(df_dropVivo_time['comment_time'] == 0)]
# # 300天之内的游戏
# df_dropVivo_time['days_diff_today'] = df_dropVivo_time['comment_time'].apply(get_mistiming)
# df_dropVivo_time_300 = df_dropVivo_time[df_dropVivo_time['days_diff_today'] < 70]
# # 新游戏 ranking by downlaod
# df_dropVivo_ranking_by_time = df_dropVivo_time_300.sort_values(by=['download_sum_num'], ascending=False)
# # 下载榜 写入 s_lcs_game_ranking_by_time
# index = 0
# df_dropVivo_ranking_by_time['id'] = df_dropVivo_ranking_by_time.apply(get_id, axis=1)
# write_to_mysql(df_dropVivo_ranking_by_time, table_name = "s_lcs_game_ranking_by_time")

/home/mingchao/anaconda3/lib/python3.6/site-packages/pymysql/cursors.py:165: Warning: (1287, "'@@tx_isolation' is deprecated and will be removed in a future release. Please use '@@transaction_isolation' instead")
  result = self._query(query)

In [99]:
# 计算 贝叶斯平均 好评的平均程度
def get_average_comment(df):
    global average_total
    global average_score
    return (df.sum_total * df.format_score + average_total * average_score) /(df.sum_total + average_total)

In [108]:
# taptap 十分制
def format_score(df):
    if df.source == 'taptap':
        return df.score/2
    else:
        return df.score

In [110]:
# # 评分榜 考虑好评的平均程度
# df_dropVivo_score = df_dropVivo_detail_download_total_time.drop_duplicates(['game_format_name'])
# # score total=0 是 fillna 来的
# df_dropVivo_total_0 = df_dropVivo_score[df_dropVivo_score['sum_total'] > 0]
# df_dropVivo_score_total_0 = df_dropVivo_total_0[df_dropVivo_total_0['score'] > 0]
# # format_score  taptap 十分制
# df_dropVivo_score_total_0['format_score'] = df_dropVivo_score_total_0.apply(format_score, axis=1)
# # average_total   average_score
# average_total = df_dropVivo_score_total_0['sum_total'].sum() / len(df_dropVivo_score_total_0)
# average_score = df_dropVivo_score_total_0['format_score'].sum() / len(df_dropVivo_score_total_0)
# # 计算 贝叶斯平均 好评的平均程度
# df_dropVivo_score_total_0['average_comment'] = df_dropVivo_score_total_0.apply(get_average_comment, axis=1)
# # 新游戏 ranking by score
# df_dropVivo_ranking_by_score = df_dropVivo_score_total_0.sort_values(by=['average_comment'], ascending=False)
# # 评分榜 写入 s_lcs_game_ranking_by_score
# index = 0
# df_dropVivo_ranking_by_score['id'] = df_dropVivo_ranking_by_score.apply(get_id, axis=1)
# write_to_mysql(df_dropVivo_ranking_by_score, table_name = "s_lcs_game_ranking_by_score")

/home/mingchao/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
/home/mingchao/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if sys.path[0] == '':
/home/mingchao/anaconda3/lib/python3.6/site-packages/pymysql/cursors.py:165: Warning: (1287, "'@@tx_isolation' is deprecated and will be removed in a future release. Please use '@@transaction_isolation' instead")
  result = self._query(query)

In [120]:
# 综合热度
import math
def get_compre(df):
    a = math.log(10, df.download_sum_num + 1) * 4 + (df.sum_total * df.format_score)/5
    b = math.pow(df.days_diff_today * 24/2, 1.5) + 1   #次方
    return a/b

In [123]:
# # 综合榜
# df_dropVivo_compre = df_dropVivo_detail_download_total_time.drop_duplicates(['game_format_name'])
# # nan , 得到天数
# df_dropVivo_compre = df_dropVivo_compre.fillna(0)
# df_dropVivo_compre['comment_time'] = df_dropVivo_compre['comment_time'].astype('int32')
# df_dropVivo_compre = df_dropVivo_compre[~(df_dropVivo_compre['comment_time'] == 0)]
# df_dropVivo_compre['days_diff_today'] = df_dropVivo_compre['comment_time'].apply(get_mistiming)
# # 评论数 fillna total=0 是nan
# df_dropVivo_compre = df_dropVivo_compre[df_dropVivo_compre['sum_total'] > 0]
# # 评分 format format_score  taptap 十分制
# df_dropVivo_compre['format_score'] = df_dropVivo_compre.apply(format_score, axis=1)
# # 计算
# df_dropVivo_compre['compre_heat'] = df_dropVivo_compre.apply(get_compre, axis=1)
# # 新游戏 ranking by compre
# df_dropVivo_ranking_by_compre = df_dropVivo_compre.sort_values(by=['compre_heat'], ascending=False)
# # 综合热度评分榜 写入 s_lcs_game_ranking_by_compre
# index = 0
# df_dropVivo_ranking_by_compre['id'] = df_dropVivo_ranking_by_compre.apply(get_id, axis=1)
# write_to_mysql(df_dropVivo_ranking_by_compre, table_name = "s_lcs_game_ranking_by_compre")

/home/mingchao/anaconda3/lib/python3.6/site-packages/pymysql/cursors.py:165: Warning: (1287, "'@@tx_isolation' is deprecated and will be removed in a future release. Please use '@@transaction_isolation' instead")
  result = self._query(query)

In [116]:
df_dropVivo_ranking_by_compre.head()

,index,source,game_name,game_logo_url,score,comments,tags,updated_at,download,download_num,game_format_name,download_sum_num,sum_total,comment_time,days_diff_today,format_score
17285,17242,taptap,Veggie Samurai,https://img.tapimg.com/market/lcs/22193dbda632...,0.0,1,"街机,动作",1527609600,1人关注,1,Veggie Samurai,1,6462.0,1505098647,311,0.0